<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <img src="assets/ticket.png" width="60" height="60" class="d-inline-block align-top" alt="">

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" class="dropdown-toggle" href="#"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-fw fa-align-justify"></i>
                    Events 
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Concerts</a>
                    <a class="dropdown-item" href="#">Theatre</a>
                    <a class="dropdown-item" href="#">Dance</a>
                    <a class="dropdown-item" href="#">Stand-up Comedy</a>
                    <a class="dropdown-item" href="#">Opera/Ballet</a>
                    <a class="dropdown-item" href="#">Musical</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            
        </ul>
        <ul class="nav navbar-nav navbar-right ml-auto">
            <li>
                <li class="nav-item">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" 
                        type="submit" style="color: white; border-color: white;">
                        <i class="fa fa-fw fa-search"></i>Search</button>
                      </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                </li>

            </li>
        </ul>
    </div>
</nav>