<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<style>
    .navbar-nav > .nav-item{
        color: white;
        margin-left: 10px;
        margin-right: 5px;
    }
    .navbar ul.nav li.open > a.get-started-btn {
    color: #fff;
    background: white;
    }
    /* change the brand and text color */
.navbar .navbar-brand,
.navbar .navbar-text {
    color: white;
}
/* change the link color */
.navbar-nav .nav-item .nav-link {
    color: white;
}
/* change the color of active or hovered links */
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: white;
    
}
#profile-section{
    width: 280px;
    padding: 20px;
    left: auto;
    right: 0;
}
</style>
</head>

<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark shadow-sm">
            <img src="assets/ticket.png" width="60" height="60" class="d-inline-block align-top" alt="">
			<div class="collapse navbar-collapse" id="navbarColor02">
				<ul class="navbar-nav mr-auto">
                    <li class="nav-item">
						<a class="nav-link" class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
                    </li>
					<li class="nav-item dropdown">
						<a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Events</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Concerts</a>
							<a class="dropdown-item" href="#">Theatre</a>
							<a class="dropdown-item" href="#">Dance</a>
							<a class="dropdown-item" href="#">Stand-up Comedy</a>
							<a class="dropdown-item" href="#">Opera/Ballet</a>
							<a class="dropdown-item" href="#">Musical</a>
						</div>
                    </li>
					<li class="nav-item">
						<a class="nav-link" href="#">About</a>
                    </li>
                    
				</ul>
				<ul class="nav navbar-nav navbar-right ml-auto">
                    <li>
                        <li class="nav-item">
                            <form class="form-inline">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-primary my-2 my-sm-0" 
                                type="submit" style="color: white; border-color: white;">
                                <i class="fa fa-fw fa-search"></i>Search</button>
                              </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">
                                <i class="fa fa-fw fa-user"></i> Profile </a>
                                <div class="dropdown-menu" id="profile-section" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#"><i class="fa fa-fw fa-user"></i> My Profile</a>
                                    <a class="dropdown-item" href="#">Events</a>
                                    <a class="dropdown-item" href="#">My tickets</a>
                                </div>
                            </li>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-fw fa-sign-out"></i> Logout</a>
                        </li>
                    </li>
				</ul>
			</div>
		</nav>
    </header>
    <main role="main">
        <div class="main">
            
        </div>
    </main>
</body>
</html>