<!DOCTYPE html>
<html>
    <head>
        <script>
            var title = "<%= eTitle %>";
            console.log(title);
          </script>
    </head>
    <main>
        <body>
            <p>Testing node.js rendering utilities</p>
            
            <img src="/<%= eImagePath %>" alt="">
            <h1><%= eTitle %></h1>
            <h1><%= eDetail %></h1>
            <h1><%= eAddress %></h1>
            <img class="card-img-top" src="/uploads/1587137592181_su1.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
        </body>
    </main>
</html>
